{% extends "layout.html" %}
{% block body %}
{% if video %}
<video src="{{ bird_path }}" autoplay controls></video>
{% else %}
<a href="{{ bird_path }}"><img src="{{ bird_path  }}" alt="bird image"></a>
{% endif %}
<div class="info">
    <p>We currently house <span>{{ bird_count }}</span> {% if bird_count > 1 %} birds! {% else %} very special bird! {% endif %}</p>
    <p>The birds eat <span>{{ storage_size }}</span> of seed</p>
    <p><span>{{ bird_image_count }}</span>{% if bird_image_count > 1 %} of our birds are images{% else %} bird is an image{% endif %}</p>
    <p><span>{{ bird_video_count }}</span>{% if bird_video_count > 1 %} of our birds prefer{% else %} bird prefers{% endif %} to dance!</p>
</div>
{% endblock %}