<!DOCTYPE html>
<html lang="en">
<head>
    <!-- Global site tag (gtag.js) - Google Analytics -->
    <script async src="https://www.googletagmanager.com/gtag/js?id=UA-106151067-3"></script>
    <script>
      window.dataLayer = window.dataLayer || [];
      function gtag(){dataLayer.push(arguments);}
      gtag('js', new Date());

      gtag('config', 'UA-106151067-3');
    </script>

    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <title>Birds are cool!</title>
    <meta name="description" content="Birds are cool! Your one stop shop for a bird api">
    <meta property='og:image' content='{{ url_for("static", filename="birb.png") }}'>
    <meta property='og:title' content='Birds are cool!'>
    <meta property=og:locale content='en_US'>
    <meta name='author' content='Mariusz Zarzycki'>
    <meta name='description' content='Birds are cool! Your one stop shop for a bird api'>
    <meta property='og:description' content='For all your random bird needs'>

    <meta name="twitter:card" content="summary">
    <meta name="twitter:site" content="@Vallode_">
    <meta name="twitter:creator" content="@Mariusz Zarzycki">

    <link rel="stylesheet" href="{{ url_for('static', filename='style.css') }}">
    <link rel="shortcut icon" href="{{ url_for('static', filename='birb.png') }}">
    <link href="https://fonts.googleapis.com/css?family=Open+Sans|Dosis:400,800" rel="stylesheet" type="text/css" />
</head>
<body>
<main>
    <div class="header">
        {% if options.page_title == "index" %}
        <a href="./"><h1>Birds are cool!</h1></a>
        {% else %}
        <a href="{{ url_for('index') }}"><h1>Birds are cool!</h1></a>
        {% endif %}
        <ul>
            <li><a href="{{ url_for('bird') }}">Bird.json</a></li>
            {% if options.page_title == "upload" %}
            <li><a class="current">Upload</a></li>
            {% else %}
            <li><a href="{{ url_for('upload') }}">Upload</a></li>
            {% endif %}
        </ul>
    </div>
    {% block body %}
    {% endblock %}
</main>
<footer>
    <ul>
        <li><a href="https://github.com/vallode" target="_blank" rel="noopener">Github</a></li>
        <li><a href="https://twitter.com/Vallode_" target="_blank" rel="noopener">@vallode</a></li>
    </ul>
</footer>
</body>
</html>