{% extends "layout.html" %}
{% block body %}
<div class="upload">
    <h2>{{ message }}</h2>

    <form method="POST" enctype="multipart/form-data">
        <input type="file" id="file" name="file">
        <label for="file">
            Select file...
        </label>
        <input type="submit" id="submit" value="Submit">
        <noscript>
            <input type="file" name="file">
            <input type="submit" value="submit">
        </noscript>
        <script type="text/javascript">
            let input = document.querySelector("input[type='file']");
            let label = document.querySelector("label");
            input.addEventListener("change", (e) => {
                let path = input.value.split("\\");
                label.innerHTML = path[path.length - 1];
            })
        </script>
    </form>
    {% if options.bird_review_count %}
    <p>
        {{ options.bird_review_count }}
        {% if options.bird_review_count > 1 %} birds are awaiting housing{% else %} bird is waiting for a home{% endif %}
    </p>
    {% else %}
        <p>0 birds are waiting for a home!</p>
    {% endif %}
</div>
{% endblock %}